<app-nav></app-nav>
<div *ngIf="course">
    <span>
        <button (click)="goBack()">go back</button>
        
    </span>
    
    <h2>{{ course.name | uppercase }} Details</h2>

    <!-- <div><span>id: </span>{{course.id}}</div> -->
    
    <!-- <div>
      <label> 
        <input [(ngModel)]="course.name" placeholder="name"/>
        <button (click)="save()">Change Name</button>
      </label>
    </div> -->

    <div>
      <label>
          <input placeholder="Category" #categoryName/>
          <button (click)="addCate(categoryName.value); categoryName.value=''">Add category</button>
      </label>
    </div>

    <div class="category">
      <li *ngFor="let item of category">
          <!-- <a routerLink="/detail/{{item.id}}"> -->
            <label>
              <a routerLink='/category_detail/{{item.name}}'>
                {{item.name}}
              </a>
              <button class="Review" title="review category"
              (click)="ReviewCate(item)">Review</button>
            </label>
      </li>
  </div>
    <hr>
  </div> 