<header>
    <mat-toolbar>
        <mat-toolbar-row>
            <span [routerLink]="['/home']">My Word</span>
            
            <span class="example-spacer"></span>
            <span class="example-spacer"></span>
            <!-- icon menu           -->
            
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">  
                <button mat-menu-item>Profile</button>
                <button mat-menu-item>
                    <a [routerLink]="['']">Logout</a>
                </button>
            </mat-menu>
            <!-- end icon menu -->
        </mat-toolbar-row>
    </mat-toolbar>
</header>
