.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar{
    background: #0747a6d4;
}

span{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.mat-button{
    min-width: 24px;
}
.mat-icon{
    color: #fff;
}

.mat-menu-item{
    font-size: 15px;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }