<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <header>

      <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span [routerLink]="['']">
                <mat-icon>home</mat-icon>
            </span>
          <span class="example-spacer"></span>
          <button mat-button (click)="showDialog =!showDialog"><mat-icon>add_box</mat-icon></button>
        </mat-toolbar-row>
      </mat-toolbar>

    </header>

    <div class="content">
        <app-dialog-add-word [(visible)]="showDialog">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter word" #word>
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter mean" #mean>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="showDialog = !showDialog">Close</button>
            <button mat-raised-button color="primary" (click)="AddWord(word.value,mean.value);word.value='';mean.value=''">Save</button>
          </form>
            
          </app-dialog-add-word>
    </div>
    <div>
      <ul>
        <li *ngFor="let item of words">{{item.word}}:{{item.mean}}</li>
      </ul>
    </div>
  </div>


</body>

</html>