#footer {
    width:100%;
    background-color: #fff;
    border-top:1px solid #2a2f37;
    z-index:100;

}

#footer_box {
    width:80%;
    max-width:1140px;
    margin:0 auto;
    padding-left:5%;
    padding-right:5%;
    text-align: none;
}

#footer p{
    color: black;
    font-size: 18px;
    font-family: Arial;

}