<mat-sidenav-container class="container" (backdropClick)="close('backdrop')" *ngIf="!shouldRun">
  <mat-sidenav #sidenav class="sidenav" (keydown.escape)="close('escape')" disableClose>
    
    <div class="userInfo">
        <div class="avatar">
        </div>
        <div class="name">
            <h3>User Name here</h3>
        </div>
    </div>
    <hr>
    <ul>
        <li><a (click)="close('toggle button')">My Courses</a></li>
        <li><a>Profile</a></li>
        <li><a>Change Pass</a></li>
        <li><a [routerLink]="['']">Logout</a></li>
    </ul>
    <button mat-button class="close_btn" (click)="close('toggle button')">Back</button>
 
  </mat-sidenav>

  <mat-sidenav-content>
    <header>
        <mat-toolbar>
            <mat-toolbar-row>
                <button mat-button (click)="sidenav.open()">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <span class="home" [routerLink]="['/home']">My Words</span>
                
                <!-- end icon menu -->
            </mat-toolbar-row>
        </mat-toolbar>
    </header>

    <div class="content">
        <div class="form-group">
            <label>Add an new Course:</label>
            <br>
            <input type="text" class="addinput" id="addcourse" #courseName />
            <button mat-button class="addbtn" (click)="add(courseName.value); courseName.value=''">Add</button>
        </div>
        
        
        <div class="courses">
            <mat-grid-list cols="2" rowHeight="120px">
                <mat-grid-tile *ngFor="let item of lists | async" >
                    <button mat-mini-fab color="acent" (click)="del(item.id)">
                        <mat-icon class="del_icon">clear</mat-icon>
                    </button>
                    
                    <div class="course_info">
                        <span routerLink="/detail/{{item}}">
                            {{item.name}}
                        </span>
                        <mat-icon class="edit_icon">edit</mat-icon>
                    </div>
                </mat-grid-tile> 
            </mat-grid-list>
            <!-- <li *ngFor="let item of lists | async">
                <a routerLink="/detail/{{item}}">
                    {{item}}
                </a>

                <a (click)="delete(item)" class="delete btn btn-link">Delete</a>
                <a routerLink="/detail/{{item}}" class="delete btn btn-link">Edit</a>
                
            </li> -->
        </div>

        <hr>

        <br>
        

        

    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>



