*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    font-size: 14px;
}
li {
    height: 36px;
    padding: 5px;
    list-style: none;
}

li a{
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    color: black;
}

li a:hover{
    color: blueviolet;
}

.delete {
    float: right;
    height: 26px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 2px 12px;
    background-color: #fff;
    color: #337ab7 !important;
}

.delete:hover, .delete:focus {
    color: red;
}


.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav{
    width: 70%;
}

.mat-toolbar{
    background: #0747a6d4;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.home{
    width: 70%;
    text-align: right;
}

.avatar{
    width: 100px;
    height: 100px;
    background: #337ab7;
    border-radius: 50%;
    margin-left: 25%;
    border: 1px solid #fff;
}
.name{
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.userInfo{
    height: 200px;
    background: #95a3b8d4;
    padding: 20px;
}

ul{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
}
ul li a{
    color: blue;
}

ul li a:hover, ul li a:focus{
    color: red;
}

.close_btn{
    width: 40%;
    margin-left: 10%;
    background: #0747a6d4;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.close_btn:focus{
    border: 1px solid yellow;
    color: yellow;
}
.close_btn:hover{
    border: 1px solid yellow;
    background: red;
    color: yellow;
}

.container .content{
    padding: 20px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}
.addinput{
    width: 69%;
    border-radius: 0px;
    height: 34px;
    margin-bottom: 10px;
}
.addbtn{
    padding: 0;
    top: 2px;
    width: 29%;
    min-width: 60px;
    margin-bottom: 10px;
    height: 34px;
    border: 0px;
    background: #0747a6d4;
    color: #fff;
}
.addbtn span{
    font-size: 14px;
    font-weight: bold;
}
.addbtn:focus{
    border: 1px solid yellow;
    color: yellow;
}
.addbtn:hover{
    border: 1px solid yellow;
    background: blueviolet;
    color: yellow;
}

mat-grid-tile {
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .course_info{
      width: 100%;
      height: 50px;
      margin-top: 70px;
      padding: 5px;
  }
.edit_icon{
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    color: rgb(114, 109, 114);
}

.del_icon{
    font-size: 16px;
    width: 16px;
    height: 16px;
    /* position: fixed;*/
    /* margin-left: 19%; */
    /* margin-top: -49px; */
}

