<div class="courses">
  <li *ngFor="let item of course">
    <a routerLink="/detail/{{item.id}}">
      {{item.id}} {{item.name}}
    </a>
    <button class="delete" title="delete course"
    (click)="delete(item)">DELETE</button>
  </li>
</div>

<label>Course name:
  <input #courseName />
</label>
<button (click)="add(courseName.value); courseName.value=''">
  Add
</button>