
h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.example-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .example-container > * {
    width: 100%;
  }

.formLogin{
    padding: 15px;
    height: auto;
}

.btn {
    height: 32px;
    width: 100%;
    border-radius: 0px;
    text-align: center;
    margin-top: 5px;
    color: #fff;
    background: #0747a6d4;
    border: 0px;
    font-weight: bold;
    font-size: 15px;

}

.form1{
    margin-top: 10%;
    padding: 25px;
}

.mat-form-field{
    font-size: 14px;
}